{% extends 'admin/layout/layout_main.html.twig' %}
{% set title = 'Users' %}

{% block title_detailed %}All {{ title }}{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/_embed/_card/_header_action.html.twig' with {
                'sectionTitle': title,
                'actionUrl': path('admin_user_add')
            } %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Full name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Zip code</th>
                        <th>Is verified email</th>
                        <th>From Google</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {% if 'ROLE_ADMIN' in user.roles %}
                                    <strong>Admin</strong>
                                {% else %}
                                    User
                                {% endif %}
                                <br/>
                                <small>{{ user.roles|join(', ', ' and ') }}</small>
                            </td>
                            <td>
                                {{ user.fullName }}</td>
                            <td>
                                {{ user.phone }}
                            </td>
                            <td>
                                {{ user.address }}
                            </td>
                            <td>
                                {{ user.zipcode }}
                            </td>
                            <td>
                                {% if not user.isVerified %}
                                    not
                                {% endif %}
                                verified
                            </td>
                            <td>
                                {% if user.googleId %}
                                    <strong>+</strong>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
