{% extends 'admin/layout/layout_main.html.twig' %}
{% set title = 'Orders' %}

{% block title_detailed %}All {{ title }}{% endblock %}

{% block body %}
    {% include "admin/order/_embed/table_filtration.html.twig" with {
        'form': filterForm
    } %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/_embed/_card/_header_action.html.twig' with {
                'sectionTitle': title,
                'actionUrl': path('admin_order_add')
            } %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Created at', 'o.createdAt') }}</th>
                        <th>Count of products</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Total price', 'o.totalPrice') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'User', 'u.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Status', 'o.status') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in pagination.items %}
                        <tr>
                            <td>
                                {{ order.id }}
                            </td>
                            <td>
                                {{ order.createdAt|date('H:i:s d.m.Y') }}
                            </td>
                            <td>
                                {{ order.orderProducts|length }}
                            </td>
                            <td>
                                {{ order.totalPrice|format_currency('USD') }}
                            </td>
                            <td>
                                #{{ order.owner.id }} <a href="mailto:{{ order.owner.email }}">{{ order.owner.email }}</a>
                            </td>
                            <td>
                                {{ orderStatusChoices[order.status] }}
                            </td>
                            <td>
                                <a href="{{ path('admin_order_edit', {'id': order.id}) }}" class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const filterVisibilityBtnEl = document.getElementById('order_list_filters_btn');
        const filterVisibilityBlockEl = document.getElementById('order_list_filters_block');
        const filterSection = 'order_list'


        window.onload = () => {
            changeFiltersBlockVisibility(filterSection, filterVisibilityBlockEl);

            filterVisibilityBtnEl.onclick = (e) => {
                e.preventDefault();
                e.stopPropagation();

                toggleFiltersVisibility(filterSection);

                changeFiltersBlockVisibility(filterSection, filterVisibilityBlockEl);
            }
        }
    </script>
{% endblock %}
