
<div class="mobile-menu-container" id="mobile_menu_container">
    <button class="mobile-menu-close-btn" id="mobile_menu_close_btn">
        <i class="fas fa-times"></i>
    </button>
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            <li class="menu-item">
                {% set catJeans = 'Jeans' %}
                <a href="{{ path('main_category_show', {slug: catJeans|lower}) }}">
                    <div>{{ catJeans }}</div>
                </a>
            </li>
            <li class="menu-item">
                {% set catHats = 'Hats' %}
                <a href="{{ path('main_category_show', {slug: catHats|lower}) }}">
                    <div>{{ catHats }}</div>
                </a>
            </li>
            <li class="menu-item">
                {% set catJackets = 'Jackets' %}
                <a href="{{ path('main_category_show', {slug: catJackets|lower}) }}">
                    <div>{{ catJackets }}</div>
                </a>
            </li>
            <li class="menu-item">
                {% set catDresses = 'Dresses' %}
                <a href="{{ path('main_category_show', {slug: catDresses|lower}) }}">
                    <div>{{ catDresses }}</div>
                </a>
            </li>
            <li class="menu-item">
                {% set catSneakers = 'Sneakers' %}
                <a href="{{ path('main_category_show', {slug: catSneakers|lower}) }}">
                    <div>{{ catSneakers }}</div>
                </a>
            </li>
            <li class="menu-item font-weight-bold">
                <a href="{{ path('main_login') }}">
                    <div>Login</div>
                </a>
            </li>
            <li class="menu-item font-weight-bold">
                <a href="{{ path('main_cart_show') }}">
                    <div>Cart</div>
                </a>
            </li>
        </ul>
    </nav>
</div>
