{% extends 'main/email/base.html.twig '%}

{% block content %}
<div>
    <row>
        <columns>
            <spacer size="35">
                <center>
                    <h1>{{ h1Title }}</h1>
                </center>
            </spacer>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <p>
                    Hello, {{ user.fullName }}!
                    Please confirm your email address by clicking the following link: <br><br>
                    <a href="{{ signedUrl }}">Confirm my Email</a>.
                    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
                </p>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <p>
                    Cheers!
                </p>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <a href="{{ profileUrl }}" target="_blank">
                Visit our profile
            </a>
        </columns>
    </row>
{% endblock %}
